*.iml
*.class
*.pyc
*.swp
*.lock
*.log
.gradle/
.idea/
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
android/app/build/
android/.gradle/
android/local.properties
android/key.properties
*.jks
*.keystore
